.about-sec{
    .about-outer{
        display: flex;
        gap: 54px;
        padding-top: 10.1rem;
        @media (max-width: $lg) {
            gap: 20px;
        }
        @media (max-width: $md) {
            padding-top: 3rem;
            gap: 20px;
            flex-direction: column;
        }
        .about-cntnt{
            h1{
                font-size: 4.5rem;
                line-height: 5.273rem;
                font-weight: 400;
                @media (max-width: $lg) {
                    font-size: 3.5rem;
                }
            }
            span{
                font-size: 4.5rem;
                line-height: 5.273rem;
                font-weight: 600;
                @media (max-width: $lg) {
                    font-size: 3.5rem;
                }
            }
            p{
                max-width: 64rem;
                font-size: 1.7rem;
                line-height: 3.2rem;
                font-weight: 400;
                margin: 0;
                padding-bottom: 17px;
                @media (max-width: $lg) {
                    max-width: 50rem;
                }
                @media (max-width: $md) {
                    max-width: 100%;
                }
            }
        }
        .abt-points-blk{
            .abt-points{
                display: flex;
                gap: 21px;
                align-items: center;
                p{
                    padding-bottom: 10px;
                }
            }  
        }
        .abt-video-blk{
            position: relative;
            .video-blk{
                width: 100%;
                height: 100%;
                max-height: 21.2rem;
                @media (max-width: $md) {
                    max-height: unset;                    
                }
                .slick-list{
                    margin-bottom: 5rem !important;
                }
                a{
                    display: inline-block;
                    border-radius: 4rem;
                    position: relative;
                    width: 100%;
                    max-height: 21.2rem;
                    img{
                        // border-radius: 4rem;
                        width: 100%;
                        object-fit: cover;
                        // max-height: 21.2rem;
                    }
                }
                .play{
                    content: "";
                    position: absolute;
                    background-image: url('../images/play-icon.svg');
                    background-repeat: no-repeat;
                    background-size: 5.5rem;
                    width: 5.5rem;
                    height: 5.5rem;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 90%;
                    @media screen and (max-width: $xl) {
                        background-size: 5rem;
                        width: 5rem;
                        height: 5rem;
                    }
                    @media screen and (max-width: $lg) {
                        background-size: 4rem;
                        width: 4rem;
                        height: 4rem;
                    }
                   
                }
            }
        }
    }
}