@font-face{
    font-family:"Roboto";
    src: url("/fonts/Roboto/static/Roboto-Regular.ttf");
    font-weight: 400; // Regular weight
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family:"Roboto";
    src: url("/fonts/Roboto/static/Roboto-Light.ttf");
    font-weight: 300; // Light weight
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family:"Roboto";
    src: url("/fonts/Roboto/static/Roboto-Medium.ttf");
    font-weight: 500; // Medium weight
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family:"Roboto";
    src: url("/fonts/Roboto/static/Roboto-SemiBold.ttf");
    font-weight: 600; // SemiBold weight
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family:"Roboto";
    src: url("/fonts/Roboto/static/Roboto-ExtraBold.ttf");
    font-weight: 700; // ExtraBold weight
    font-style: normal;
    font-display: swap;
}