$primary-color: #FFFFFF;
$primary-color-1: #F7F9FB;
$secondary-color: #264756;
$secondary-color-1: #169AD8;
$secondary-color-5: #0B397D;
$secondary-color-2: rgba(125, 125, 125, 0.14);
$secondary-color-3: #DDEBF9;
$secondary-color-4: #F3F1ED;
$banner-gradient: linear-gradient(180deg, rgba(2, 19, 45, 0) 0%, #041631 91.25%);
$theme-gradient: linear-gradient(0deg, #5188BC 9.86%, rgba(44, 62, 79, 0) 81.74%);
$border-color: 1px solid #2C3E4FBF;
$txt-color: #2C3E4F;
$txt-color-1: #2C3E4FBF;
$theme-red: #BB1010;
$theme-red-1: #D0011A;
$theme-blue: #229FDA;
$theme-yellow: #FFE815;
$theme-arrow: #134563;
$theme-bg: #FFFFFF;




/* breakpoints */
$sm: 580px;
$md: 768px;
$lg: 1080px;
$xl: 1280px;
$xxl: 1440px;
/**********************************/
$grid_gap: 0 20px;